#cartButton{
  margin-right:8px;
}

body {
  background: rgb(251, 255, 251);
  min-height: 100%;
  padding-top: 65px;
  position: relative;
  margin: auto;

}

.text-gray {
  color: #343434;
}
nav{
  padding-bottom:800px !important;
}

.center_div{
  margin: 0 auto;
  width:80% /* value of your choice which suits your alignment */
}

.marginTop{
  margin-top:5%;
}

.marginTop1{
  margin-top:2%;
}

footer {
  clear: both;
  position: relative;
  height: 200px;
  margin-top: -200px;
}
